.post .post-content ol ol {
  list-style: lower-alpha;
}

.post .post-content ol ol ol {
  list-style: lower-roman;
}


h2 em {
  text-transform: uppercase;
  font-size: 75%;
}

table.table.table-diff {
    border: 0px;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.75em;
    font-family: Lucida Console, monospace;
}

col.linenumber {
  width: 5%;
}
col.difftext {
  width: 45%;
}

th, td.diffline {
  padding-left: 5px;
}

td.line {
    color:#8080a0
}

th {
    background: black; color: white
}

tr.diffhunk td {
    background: #A0A0A0
}

tr.diffdeleted td {
    background: #fee8e9
}

tr.diffchanged td.left {
    background: #fee8e9
}

td.left span.diffchanged2 {
    background: #ffb6ba;
    border-radius: 3px 3px 3px 3px;
}

tr.diffadded td {
    background: #dfd
}

tr.diffchanged td.right {
    background: #dfd
}

td.right span.diffchanged2 {
    background: #97f295;
    border-radius: 3px 3px 3px 3px;
}

span.diffponct {
    color: #B08080;
}

tr.diffmisc td {}

tr.diffseparator td {}
