{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts |last  %}

<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<nav id="menu">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>

    <li><a><strong>Agreements</strong></a></li>
    <li {% if url_parts contains '23-oct-2015' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/23-oct-2015/">23 Oct - Final pre-Paris Draft</a>
    </li>
    <li {% if url_parts contains '4-dec-2015' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/agreement/4-dec-2015/">4 Dec - First Paris Draft</a>
    </li>
    <li {% if url_parts contains '9-dec-2015' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/agreement/9-dec-2015/">9 Dec - Second Paris Draft</a>
    </li>
    <li {% if url_parts contains 'agreement' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/agreement/">12 Dec - Final Paris Draft</a>
    </li>

    <li><a><strong>Diffs</strong></a></li>
    <li {% if url_parts contains 'diff' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/diff/23-oct-vs-4-dec.html">Diff - 23 Oct vs 4 Dec</a>
    </li>
    <li {% if url_parts contains 'diff' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/diff/4-dec-vs-9-dec.html">Diff - 4 Dec vs 9 Dec</a>
    </li>

    <li><a><strong>Meta</strong></a></li>
    <li {% if url_last ==  'about' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/about/">About</a>
    </li>
  </ul>
</nav>
