{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts |last  %}

<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<nav id="menu">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>
    
    <li {% if url_parts contains '23-oct-2015' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/23-oct-2015/">Posts</a>
    </li>
    
    <li {% if url_last ==  'credits' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/credits/">Credits</a>
    </li>
  </ul>
</nav>
